# .gitignore
# Python
*.pyc
__pycache__/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Environment
.env
venv/
env/
ENV/
.venv/
liora_venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static and media (optional depending on your strategy)
staticfiles/
media/

