{% extends "base.html" %}
{% load static %}
{% block title %}L I O R A | Product details{% endblock %}
{% block content %}


    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'products' product.category.slug %}">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-start g-4">
                    <div class="col-lg-6 col-md-6">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="{{inventories.first.image.url}}" alt="">
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__text">
                            <h4>{{product.name}}</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>

                            {% if discounted_price %}
                                <h3>₹ {{discounted_price|floatformat:2 }} <span>₹ {{product.price}}</span></h3>
                                {% if savings and savings > 0 %}
                                    <p class="text-success fw-semibold">
                                        You save ₹{{ savings|floatformat:2 }}!
                                    </p>
                                {% endif %}
                            {% else %}   
                                <h3>₹ {{product.price}}</h3>
                            {% endif %}

                            <p>{{product.description}}</p>
                            <form method="POST" id="product_details_form" action="{% url 'buy_now' %}">
                                {% csrf_token %}
                                <div class="product__details__option">  
                                    <input type="hidden" name="product_id" value="{{ product.id }}">

                                    <div id="error-message" class="alert alert-danger d-none" role="alert">

                                    </div>

                                    

                                    <div class="product__details__option__size">
                                        <span>Size:</span>
                                        {% for inv in inventories %}
                                        <label for="size_{{inv.id}}">
                                            {{inv.size.name}}
                                            <input type="radio" id="size_{{inv.id}}"
                                            name="size_id"
                                            value="{{ inv.size.id }}"
                                            data-stock="{{ inv.stock }}">
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="product__details__option__color">    
                                            <span>Color:</span>
                                            {% for color in colors %}
                                                <a href="{% url 'product_view' product.slug %}?color={{ color.id }}" style=" height:33px; width:33px; display:inline-block; border-radius:50%; {% if selected_color.id == color.id %}border: 2px solid black;{% endif %}">
                                                    <label
                                                        class="color-{{ color.id }} {% if selected_color.id == color.id %}active{% endif %}"
                                                        style="background: {{ color.hex_code }}; height:30px; width:30px; display:inline-block; cursor:pointer;"
                                                    >
                                                    </label>
                                                </a>
                                            {% endfor %}
                                    </div>
                                    <input type="hidden" name="color_id" value="{{ selected_color.id }}">
                                </div>
                            
                                <div class="product__details__cart__option">
                                    <div class="quantity">
                                        {% if  inventories  %}
                                        <div style="width:60px; display: inline-block;">
                                            <input type="number" id="quantity-input" name="quantity" value="1" min="1" style="width: 100%; padding: 5px; margin-right: 10px; border: 1px solid #ccc; border-radius: 4px;" disabled>
                                            <small id="quantity-hint" style="color:#888;">Select a size to enable</small>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if  inventories %}
                                    <a href="#" id="add_to_cart_btn" class="primary-btn">add to cart</a>
                                    {% else %}
                                    <p> Stock unavailable </p>
                                    {% endif %}
                                </div>
                                <div class="product__details__cart__option">
                                    {% if  inventories  %}
                                    <button type="submit"  class="primary-btn">Buy Now</button>
                                    {% endif %}
                                </div>
                            </form>
                            <div class="product__details__btns__option">
                                <form method="POST" action="{% url 'add_to_wishlist' %}" id="wishlist-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="color_id" value="{{ selected_color.id }}">
                                    {% if wishlisted %}
                                        <button class="btn btn-danger" disabled>
                                            <i class="fa fa-heart"></i> Wishlisted
                                        </button>
                                    {% else %}
                                    <button type="submit" class="btn btn-link p-0 wishlist-btn">
                                        <i class="fa fa-heart"></i> add to wishlist
                                    </button>
                                    {% endif %}
                                </form>
                            </div>


                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                
                                <img src="{% static 'img/shop-details/details-payment.png' %}" alt="">
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    <li><span>Categories:</span> Clothes</li>
                                    <li><span>Tag:</span> Clothes, Skin, Body</li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Products</h3>
                </div>
            </div>
            <div class="row">
                {% for product in best_sellers %}
                {% with inventory=product.inventories.first %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{inventory.image.url}}">
                            <ul class="product__hover">
                                {% comment %} <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>{{product.name}}</h6>
                            <a href="{% url 'product_view' product.slug %}" class="add-cart">View</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₹ {{ product.price }}</h5>
                            
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Section End -->

    <script>
        {% comment %} document.getElementById('product_details_form').addEventListener('submit', function(e) {
            const selectedSize = document.querySelector('input[name="size_id"]:checked');
            const errorDiv = document.getElementById('error-message');
            if (!selectedSize) {
                e.preventDefault();
                errorDiv.textContent = "Please select a Size to continue.";
                errorDiv.classList.remove('d-none');
            } else {
                errorDiv.classList.add('d-none');
            }
        }); {% endcomment %}

        function validateSizeSelection() {
            const selectedSize = document.querySelector('input[name="size_id"]:checked');
            const errorDiv = document.getElementById('error-message');

            if (!selectedSize) {
                errorDiv.textContent = "Please select a Size to continue.";
                errorDiv.classList.remove('d-none');
                return false;
            } else {
                errorDiv.classList.add('d-none');
                return true;
            }
        }


        document.getElementById('product_details_form').addEventListener('submit', function(e) {
            if (!validateSizeSelection()) {
                e.preventDefault();
            }
        });


        document.getElementById('add_to_cart_btn').addEventListener('click', function(e) {
            e.preventDefault();
            if (validateSizeSelection()) {
                const form = document.getElementById('product_details_form');
                form.action = "{% url 'add_to_cart' %}";
                form.submit();
            }
        });



    </script>

    <script>
        const addBtn = document.getElementById('add_to_cart_btn');
        document.querySelectorAll('input[name="size_id"]').forEach(radio => {
            radio.addEventListener('change', function() {
                let stock = this.getAttribute('data-stock');
                let qtyInput = document.getElementById('quantity-input');
                let qtyHint = document.getElementById('quantity-hint');

                qtyInput.disabled = false; 
                qtyInput.max = stock;
                qtyInput.value = 1;
                qtyHint.style.display = "none"; // reset to 1 whenever new size is picked
                document.getElementById('error-message').classList.add('d-none');
                addBtn.classList.remove('disabled'); 
            });
        });
    </script>


    <script>
        
    </script>

    


{% endblock content %}