{% extends "admin/admin_layout.html" %}
  {% load static %}
  {% block title %}L I O R A | product list{% endblock %}
  {% block admin_content %} 
        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Category</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Categories</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Category List</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Category list</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <!--looping through products and displaying as list-->
                        {% for item in categories%}
                        <tbody>
                          <tr>
                            <td>{{item.name}}</td>
                            <td>
                              <div class="avatar avatar-xxl">
                                <img src="{{item.image.url}}" alt="..." class="avatar-img rounded-circle">
                              </div>
                            </td>
                            <td>
                              <div class="form-button-action">
                                <a href="{% url 'edit_category' item.id %}">
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title=""
                                    class="btn btn-link btn-primary btn-lg"
                                    data-original-title="Edit Task"
                                  >
                                    <i class="fa fa-edit"></i>
                                  </button>
                                </a>
                                <a href="{% url 'delete_category' item.id %}">
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title=""
                                    class="btn btn-link btn-danger"
                                    data-original-title="Remove"
                                  >
                                    <i class="fa fa-times"></i>
                                  </button>
                              </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        {% endfor %}
                        <!--end of loop-->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  {% endblock admin_content %}