{% extends "admin/admin_layout.html" %}
  {% load static %}
  {% block title %}L I O R A | product list{% endblock %}
  {% block admin_content %} 
        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Products</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Products</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Products List</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Products list</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <!--looping through products and displaying as list-->
                        {% for item in products%}
                        <tbody>
                          <tr>
                            <td>
                              {% with item.inventories.first as inventory_item %}
                                {% if inventory_item and inventory_item.image %}
                                <div class="avatar avatar-xxl">
                                  <img src="{{ inventory_item.image.url }}" alt="..." class="avatar-img rounded-circle">
                                </div>
                                {% else %}
                                  <p>No image available</p>
                                {% endif %}
                              {% endwith %}
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.category.name}}</td>
                            <td>
                              <div class="form-button-action">
                                <a href="{% url 'edit_product' item.id %}">
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title=""
                                    class="btn btn-link btn-primary btn-lg"
                                    data-original-title="Edit Task"
                                  >
                                    <i class="fa fa-edit"></i>
                                  </button>
                                </a>
                                  <button
                                    type="button"
                                    data-bs-toggle="modal"
                                    title=""
                                    class="btn btn-link btn-danger"
                                    data-original-title="Remove"
                                    data-bs-target="#deleteModal{{ item.id }}"
                                  >
                                    <i class="fa fa-times"></i>
                                  </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{ item.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ item.id }}" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form method="post" action="{% url 'delete_product' item.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel{{ item.id }}">Confirm Delete</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa fa-times"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to delete "{{ item.name }}"?
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!--end of modal-->
                        {% endfor %}
                        <!--end of loop-->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  {% endblock admin_content %}